p {
    margin: .5rem 0 .5rem 0;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-container {
    width: 96%;
    display: flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
}
.btn {
    font-weight:bold;
    margin: .25rem;
    padding: 0.5rem;
    background-color: #FFF;
    border: 2px solid #000;
    border-radius: .25rem;
    transition:  .3s ease;
    min-width: 50px;
}
.btn:hover {
    background-color: #696969;
    color: #FFF;
    border: 2px solid #696969;
}

.card {
    border: 1px solid gray;
    border-radius: .25rem;
    box-shadow: -3px 3px 10px gray;
    margin: 1rem 0.5rem 0 0.5rem;
    width: 74%;
    min-width: 300px;
    max-width: 750px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    transition: box-shadow .5s ease-in-out;
}
.card:hover {
    box-shadow: -5px 5px 15px #000;
}

.hidden {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.card-options {
    padding: 0 .5rem 0 .5rem;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.card-content {
    background-color:white;
    margin:0;
    padding: 0.5rem .5rem 1rem 1rem;
    border-radius: 0 0 .25rem .25rem;
}
.same-line {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-right: 1rem;
}
.w100 {
    width: 100%;
}
.main-search {
    display:flex;
    margin:0 auto;
    align-items: center;
    max-width: 750px;
    width: 100%;
}
.main-input {
    margin: 1rem 1rem 1rem .5rem;
    padding: 0.5rem;
    background-color: #FFF;
    border: 2px solid #000;
    border-radius: .25rem;
    width:100%;
}
.search-copy {
    margin: 0 auto;
    color: dimgray;
    max-width: 95%;
    min-width: 280px;
    font-size: .8rem;
    font-style: italic;
    height: 1.2rem;
}
.date-input {
    margin-right: 1rem;
    padding: 0.5rem;
    background-color: #FFF;
    border: 2px solid #000;
    border-radius: .25rem;
}
.title {
    font-weight: 700;
    font-size: 3rem;
    border-bottom: 3px solid #000;
    margin-bottom: 1.25rem;
}

.date-form {
    display:flex;
    justify-content: space-between;
    align-items:center;
    max-width: 800px;
}
@media (max-width:600px) {
    .date-form {
        flex-direction: column;
        align-items:left;
    }
}
.date-field{
    display:flex;
    flex-direction:row;
    align-items:center;
}
.date-label {
    min-width:75px;
    margin: 0 .5rem 0 0;
}
.date-btn {
    padding: .5rem 1rem;
}
